<app-menu></app-menu>

                <main> 
                  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;"> 
                  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 

                        <!-- :::: -->
                  <div class="col" *ngFor="let voir of formationencours"> 
                  <div class="card h-100 shadow-sm" > 
                        <img src="/assets/images/{{voir.image}}" class="card-img-top" alt="..."> 
                        <div class="card-body"> 
                  <div class="clearfix mb-3"> 
                        <span class="float-start price-hp">{{voir.datedebut}}</span> 
                  </div> 
                        <h5 class="card-title">{{voir.titre}}</h5> 
                        <div class="text-center my-4"> 
                              <a href="#" class="btn btn-warning" [routerLink]="['/detailparticipant', voir.idFormat]">Voir+</a> 
                        </div> 
                        </div> 
                   </div> 
                        </div>
                         <!-- :::: -->
                  </div> </div> 
       </main>

    