<app-menu></app-menu>

<body>
    <div class="container">
      <h1 class="form-title">Ajouter une formation</h1>
      <form action="#" >
        <div class="main-user-info">

          <!-- <div class="user-input-box">
            <label for="fullName">Thème formation</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Thème formation"
                    [(ngModel)]="titre" name="titre"
                    required
                    />
          </div> -->
          <!-- ;;;;;;;;;; -->
          <div class="user-input-box">
            <label for="fullName">moduletitre</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Thème "
                    [(ngModel)]="titre" name="titre"
                    required
                    />
          </div>
          <!-- :::::::::::::: -->
          <div class="user-input-box">
            <label for="username">Description</label>
            <input type="text"
                    id="username"
                    name="username"
                    placeholder="Description"
                    [(ngModel)]="description" name="description"/>
          </div>
          <!-- <div class="user-input-box">
            <label for="email">Email</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"/>
          </div> -->
          <div class="user-input-box">
            <label for="phoneNumber">Contact</label>
            <input type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Contact"
                    [(ngModel)]="contact" name="contact"/>
          </div>
          <!-- <div class="user-input-box">
            <label for="phoneNumber">Lieu</label>
            <input type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Lieu"
                    [(ngModel)]="lieu" name="lieu"/>
          </div> -->

          <div class="user-input-box">
            <label for="fullName">Heure</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Heure"
                    [(ngModel)]="heuretemps" name="heuretemps"/>
          </div>
          <div class="user-input-box">
            <label for="fullName">Date debut</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Date debut"
                    [(ngModel)]="datedebut" name="datedebut"/>
          </div>
          <div class="user-input-box">
            <label for="fullName">Date fin</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Date fin"
                    [(ngModel)]="datefin" name="datefin"/>
          </div>

          <div class="user-input-box">
            <label for="fullName">Formateur</label>
          <form >
            <select style="width:150px; height: 30px; margin-top: 3px;" [(ngModel)]="nomformateur" [ngModelOptions]="{standalone: true}">
              <!-- <option value="Sexe">Formateur</option> -->
              <option value="{{affiche.username}}"  *ngFor="let affiche of formateurs" >{{affiche.username}}</option>
              <!-- <option value="0">Homme</option> -->
            </select>
          </form>
        </div>

        <form style="margin-top: 3%;  padding-right: 20px;">
          <select style="width:150px; margin-left: -22%; height: 25px; margin-top: 10px;" [(ngModel)]="etatlieu" name="etatlieu">
            <option value="etatlieu">Choisissez le lieu :</option>
            <option value="0">Présidentiell</option>
            <option value="1">En_ligne</option>
          </select>
        </form>



        <div class="user-input-box">
          <form action=""  style="margin-top: 3%; ">
            <input type="file" name="image" (change)="recupererImage($event)"><br><br>
          </form>
        </div>
        </div>

        <div class="form-submit-btn" (click)="Ajoutformation()">
          <input type="submit" value="Ajouter formation">
        </div>
      </form>
    </div>
  </body>
