<body>
  <app-menu></app-menu>

  <!-- Les Non valide -->

  <div class="main-content" id="main-content">
    <main>


<table class="table">
  <thead>
    <tr>
     <th>Titre</th>
     <th>Lieu</th>
     <th>Date fin</th>
     <th>Validation</th>
      <th>Status</th>
     <!-- <th>Supprimer</th> -->
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let voir of formatformateurnonvalide">
          <td data-label="S.No">{{voir.titre}}</td>
          <td data-label="Name">{{voir.etatlieu}}</td>
          <td data-label="Marks%">{{voir.datefin}}</td>
          <td data-label="Staus" style="color: teal; font-weight: bold;">{{voir.validFormateur}}</td>
          <td data-label="Staus">
            <form style="  padding-right: 20px;" (ngSubmit)="ModifierEtat(voir)"  >
              <select style="width:80px;  height: 25px; margin-top: 3px; margin-bottom: 20px;" name="etat"  [(ngModel)]="voir.etat" >
                <option value="Sexe">Etat</option>
                <option *ngFor="let lesEtat of mesformaformateur"  >{{lesEtat}}</option>
              </select>
              <button type="submit">Changer</button>
            </form>
          </td>

      </tr>

  </tbody>
</table>



    </main>
  </div>

  <!-- :::::::::::::::::::::::::::: -->
  <div class="main-content" id="main-content">
    <main>


<table class="table">
  <thead>
    <tr>
     <th>Titre</th>
     <th>Lieu</th>
     <th>Date fin</th>
     <th>Validation</th>
      <th>Status</th>
     <!-- <th>Supprimer</th> -->
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let voir of formatformateurvalide">
          <td data-label="S.No">{{voir.titre}}</td>
          <td data-label="Name">{{voir.etatlieu}}</td>
          <td data-label="Marks%">{{voir.datefin}}</td>
          <td data-label="Staus" style="color: teal; font-weight: bold;">{{voir.validFormateur}}</td>
          <td data-label="Staus">
            <form style="  padding-right: 20px;" (ngSubmit)="ModifierEtat(voir)">
              <select style="width:80px;  height: 25px; margin-top: 3px; margin-bottom: 20px;" name="etat"  [(ngModel)]="voir.etat" >
                <option value="Sexe">Etat</option>
                <option *ngFor="let lesEtat of mesformaformateur"  >{{lesEtat}}</option>
              </select>
              <button type="submit">Changer</button>
            </form>
          </td>

      </tr>

  </tbody>
</table>



    </main>
  </div>


</body>
