
<app-menu></app-menu>

<div class="containeur" style="">
    <!-- <div class="conteneur-logo">
      <img class="logo" src="../assets/images/logo.png">
    </div> -->

    <!-- ::::::::::::::::::::::::::::::::::::::: -->
    <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="formulaire">
      <div class="input">
        <input  type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
         placeholder="Nom Utilisateur">

         <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Obligatoire</div>
          <div *ngIf="username.errors['minlength']">
            Au moins 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            maximum 20 characters
          </div>
        </div>
      </div>

      <!-- Nom Complet -->
      <div class="input">
        <input type="text"
        class="form-control"
        name="nom"
        [(ngModel)]="form.nom"
        required
        minlength="3"
        maxlength="80"
        #nom="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && nom.errors }"
        placeholder="Nom complet">
      </div>

      <!-- Profession -->
      <div class="input">
        <input type="text"
        class="form-control"
        name="profession"
        [(ngModel)]="form.profession"
        required
        minlength="3"
        maxlength="80"
        #profession="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && profession.errors }"
        placeholder="profession">
      </div>

       <!-- Contact -->
       <div class="input">
        <input type="text"
        class="form-control"
        name="contact"
        [(ngModel)]="form.contact"
        required
        minlength="3"
        maxlength="25"
        #contact="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && contact.errors }"
        placeholder="contact">
      </div>

      <!-- Email :::::::::::: -->
      <div class="input">
        <input type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        placeholder="Votre email">
      </div>


      <!-- <div class="photo" style="width: 30%; margin-left: -45%; margin-bottom: 3%;"> -->
      <!-- Genre:: -->
      <!-- <label for="formFileSm" class="form-label" style="color: white;  margin-left: -57%;">Genre</label> -->
      <form style="width:150px; margin-left: -57%; height: 37px; margin-top: 3px; margin-bottom: 10px;">
        <select type="text"
          class="form-control"
          name="sexe"
          [(ngModel)]="form.sexe"
          required
          minlength="3"
          maxlength="25"
          #sexe="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && sexe.errors }"
          >
          <option value="femme">Femme</option>
          <option value="homme">Homme</option>
          </select>
          </form>

           <!-- Role:: -->
      <!-- <label for="formFileSm" class="form-label" style="color: white;  margin-left: -57%;">Role</label> -->
      <form style="width:150px;   margin-left: -57%; height: 37px; margin-top: 3px; margin-bottom: 10px;">
        <select type="text"
          class="form-control"
          name="Role"
          [(ngModel)]="form.Role"
          required
          minlength="3"
          maxlength="50"
          #ERole="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && ERole.errors }"
          >
          <option value="ROLE_USER">User</option>
            <option value="formateur">Formateur</option>
            <option value="admin">Admin</option>
          </select>
          </form>

             <form action=""  style="margin-left: 6%;">
              <input type="file" name="file" (change)="fileChangm($event)" style="height:25%;"><br><br>
            </form>

           <!-- </div> -->

    <!-- Mot de passe -->
      <div class="input" style="margin-top: -19px;">
        <input type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        placeholder="Mot de passe">

        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Mot de passe obligatoire</div>
          <div *ngIf="password.errors['minlength']">
            Au moins 6 characters
          </div>
        </div>
      </div>

      <div class="conteneur-submit">
        <button class="envoyer-input" type="submit" expand="block">S'INSCRIRE</button>
      </div>

      <!-- <div class="autres-options">
        <div style="font-size: 14px;" >
          Vous avez déjà un compte ? <span class="connexion" routerLink="/connexion">Connexion</span>
        </div>
      </div> -->

    </div>

  </form>
  </div>

  <!-- ::::::::::::::::::::::::::::::::::::::::::: -->
