<app-menu></app-menu>

<div class="main-content" id="main-content">


<!-- :::::::::::::::::::: -->
<h3 style="text-align: center; margin-top: 3%;">La liste des participants encours : {{participant.length}}</h3>
<table class="table">
    <thead>
        <tr>
         <th>No</th>
         <th>Email</th>
         <th>Quartier</th>
         <th>Age</th>
         <th>Marks%</th>
         <th>Status</th>
        </tr>
    </thead>
    <tbody>

           <tr *ngFor="let voir of participant |paginate: { itemsPerPage:10, currentPage: p1, id:'pagination1'}, let i =index">
                <td data-label="S.No">{{voir.idPart}}</td>
                <td data-label="Name">{{voir.email}}</td>
                <td data-label="Age">{{voir.nom}}</td>
                <td data-label="Marks%">{{voir.sexe}}</td>
                <td data-label="Marks%">70%</td>
                <td data-label="Staus">

                  <form (ngSubmit)="ModifierEtat(voir)" >
                    <select style="width:100px;  height: 33px; margin-top: 3px;" name="status"  [(ngModel)]="voir.status">
                      <option value="Sexe">Etat</option>
                      <option *ngFor="let lesEtat of mesEtats"   >{{lesEtat}}</option>
                    </select>
                    <button type="submit" style=" height: 36px; margin-left: 3%;">Changer</button>
                  </form>
                  <!--  ::::::::::-->
                </td>
           </tr>

    </tbody>

  </table>
  <pagination-controls id="pagination1" (pageChange)="p1 =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>


  <!-- ::::::::::::::::::::::: -->
  <!-- Formation encours et Formateurs:::::::::::::::::::: -->
   <div class="wrapper flex">
    <div class="projects">
       <div class="card-header flex">
          <h3>Valider</h3>
          <button>{{participantValid.length}} </button>
       </div>

       <table>
        <tr>
            <th>Email</th>
            <th>Quartier</th>
            <th>Age</th>
            <th>Status</th>
        </tr>

        <tr  *ngFor="let voir of participantValid |paginate: { itemsPerPage:10, currentPage: p}">
            <td>{{voir.email}}</td>
            <td>{{voir.sexe}}</td>
            <td>{{voir.sexe}}</td>
            <td>
                <form style="padding-right: 20px;" (ngSubmit)="ModifierEtat(voir)">
                    <select style="width:80px;  height: 25px; margin-top: 3px; margin-bottom: 20px;" name="status"  [(ngModel)]="voir.status"  >
                      <option value="Sexe">Etat</option>
                      <option *ngFor="let lesEtat of mesEtats">{{lesEtat}} </option>
                    </select>
                    <button type="submit" style="height: 32px;margin-left: 3px;">Changer</button>
                  </form>
            </td>
        </tr>
        <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
    </table>

    </div>
    <div class="customers">
       <div class="card-header flex">
          <h3>Non Valider</h3>
          <button>{{participantNonValid.length}}</button>
       </div>

       <table>
          <tr class="flex" *ngFor="let voir of participantNonValid |paginate: { itemsPerPage:10, currentPage: p}">
                <td class="flex">
                    <img src="/assets/images/djiguiba.jpg" width="30px" height="30px" alt="">
                    <div>
                       <h5>{{voir.nom}}</h5>
                       <small>{{voir.email}}</small>
                    </div>
                 </td>

                 <td>
                  <form style=" margin-left: 80px;" (ngSubmit)="ModifierEtat(voir)">
                    <select style="width:80px;  height: 25px;" name="status"  [(ngModel)]="voir.status" >
                      <option value="Sexe">Etat</option>
                      <option *ngFor="let lesEtat of mesEtats"  >{{lesEtat}}</option>
                    </select>
                    <button type="submit" style="margin-left: 15px; height: 33px;">Changer</button>
                  </form>
                 </td>
          </tr>
          <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
       </table>
    </div>

 </div>

</div>
