
<body>
  <app-menu></app-menu>

   <div class="main-content" id="main-content">

      <!-- Statistique::::::::::::::::::::::: -->
      <main>
         <div class="cards">

            <div class="single-card">
               <div>
                  <span> Demande total</span>
                  <h2>{{demandvoir.length}}</h2>
               </div>
               <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="single-card" >
              <div>
                 <span>Demande encours</span>
                 <h2>{{demandencours.length}}</h2>
              </div>
              <i class="fa-solid fa-spinner"></i>
           </div>
            <div class="single-card">
               <div>
                  <span>Accepter</span>
                  <h2>{{demandaccepter.length}}</h2>
               </div>
               <i class="fa-solid fa-check"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>Non_Accepter</span>
                  <h2>{{demandrejeter.length}}</h2>
               </div>
               <i class="fa-solid fa-thumbs-down"></i>
            </div>
         </div>

         <!-- ::::::::::::::::::::: -->
         <h3 style="text-align: center; margin-top: 3%;">La liste des démandes encours : {{demandencours.length}}</h3>
    <table class="table">
        <thead>
            <tr>
             <th>Structure</th>
             <th>Localité</th>
             <th>Email</th>
             <th>Type de Formation</th>
             <th>Nombre de personne</th>
             <th>Status</th>
             <!-- <th>Delete</th> -->
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let voir of demandencours |paginate: { itemsPerPage:4, currentPage: p}">
                    <td data-label="S.No">{{voir.structure}}</td>
                    <td data-label="Name">{{voir.lieu}}</td>
                    <td data-label="Age">{{voir.email}}</td>
                    <td data-label="Age">{{voir.type}}</td>
                    <td data-label="Age">{{voir.personnes}}</td>
                    <td data-label="Staus">
                      <form (ngSubmit)="ModifierEtat(voir)" >
                        <select style="width:100px;  height: 33px; margin-top: 3px;" name="auditstatus"  [(ngModel)]="voir.auditstatus">
                          <option value="Sexe">Etat</option>
                          <option *ngFor="let lesEtat of mesEtats"   >{{lesEtat}}</option>
                        </select>
                        <button type="submit" style=" height: 36px; margin-left: 3%;">Changer</button>
                      </form>
                    </td>
                    <!-- <td data-label="Age">
                      <button type="but" (click)="suppression(voir.idDemand)"> Suprimer</button>
                    </td> -->

              </tr>

        </tbody>
      </table>
      <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
 <div class="wrapper flex">
  <div class="projects">
     <div class="card-header flex">
        <h3>Accepter</h3>
        <button>{{demandaccepter.length}}</button>
     </div>

     <table>
      <tr>
        <th>Structure</th>
        <th>Email</th>
        <th>Personnes</th>
        <th>Status</th>
      </tr>

      <tr *ngFor="let voir of demandaccepter |paginate: { itemsPerPage:2, currentPage: p}" >
        <td>{{voir.structure}}</td>
        <td>{{voir.email}}</td>
        <td>{{voir.personnes}}</td>
          <td>
              <form style="  padding-right: 20px;" (ngSubmit)="ModifierEtat(voir)">
                  <select style="width:80px;  height: 25px; margin-top: 3px; margin-bottom: 20px;" name="auditstatus"  [(ngModel)]="voir.auditstatus" >
                    <option value="Sexe">Etat</option>
                    <option *ngFor="let lesEtat of mesEtats"  >{{lesEtat}}</option>
                  </select>
                  <button type="submit">Changer</button>
                </form>
          </td>
      </tr>
  </table>
  <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>

  </div>

<!-- :::::::::::: -->
  <div class="customers">
     <div class="card-header flex">
        <h3>Rejeter</h3>
        <button routerLink="/Ajoututilisateur">{{demandrejeter.length}}</button>
     </div>

     <table>
        <tr class="flex" *ngFor="let voir of demandrejeter |paginate: { itemsPerPage:2, currentPage: r}">
              <td class="flex">
                  <img src="/assets/images/{{voir.photo}}" width="30px" height="30px" alt="">
                  <div>
                    <h5>{{voir.structure}}</h5>
                    <small>{{voir.email}}</small>
                 </div>
               </td>

               <td>
                <form style=" margin-left: 80px;" (ngSubmit)="ModifierEtat(voir)">
                  <select style="width:80px;  height: 25px;" name="auditstatus"  [(ngModel)]="voir.auditstatus" >
                    <option value="Sexe">Etat</option>
                    <option *ngFor="let lesEtat of mesEtats"  >{{lesEtat}}</option>
                  </select>
                  <button type="submit" style="margin-left: 15px; height: 33px;">Changer</button>
                </form>
               </td>
        </tr>
     </table>
             <pagination-controls (pageChange)="r =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>

  </div>

</div>


<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
      </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
