<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mon dashboard</title>

   <!-- iconscout cdn path -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
  <app-menu></app-menu>

   <div class="main-content" id="main-content">
      <header class="flex">
         <h2>
            <i class="uil uil-bars" id="menu-icon"></i>
            Tableau de bord
         </h2>

         <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search Here...">
         </div>

         <div class="admin-box flex" >
            <img src="images/user.jpeg" width="30px" height="30px">
            <div>
               <h4>Djiguiba</h4>
               <small>Admin</small>
            </div>
         </div>
      </header>

      <!-- Statistique::::::::::::::::::::::: -->
      <main>
         <div class="cards">
            <div class="single-card" >
               <div>
                  <span>Formateurs</span>
                  <h2>{{formateur.length}}</h2>
               </div>
               <i class="fa-solid fa-person-dots-from-line"></i>
            </div>
            <div class="single-card">
               <div>
                  <span> Auditeurs</span>
                  <h2>{{auditeur.length}}</h2>
               </div>
               <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>Réalisations</span>
                  <h2>{{formationterminer.length}}</h2>
               </div>
               <i class="fa-solid fa-check"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>Encours</span>
                  <h2>{{formationencours.length}}</h2>
               </div>
               <i class="fa-solid fa-spinner"></i>
            </div>
         </div>

<!-- Formation encours et Formateurs:::::::::::::::::::: -->
         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Formations encours</h3>
                  <button routerLink="/formationencours" >A venir</button>
               </div>

               <table>
                <tr>
                    <th>Titre</th>
                    <th>Lieu</th>
                    <th>Date Debut</th>
                    <th>Status</th>
                </tr>

                <tr *ngFor="let encours of formationencours |paginate: { itemsPerPage:4, currentPage: p}" >
                    <td>{{encours.titre}}</td>
                    <td>{{encours.etatlieu}}</td>
                    <td>{{encours.datedebut}}</td>
                    <td>
                        <form style="  padding-right: 20px;" (ngSubmit)="ModifierEtat(encours)">
                            <select style="width:80px;  height: 25px; margin-top: 3px; margin-bottom: 20px;" name="etat"  [(ngModel)]="encours.etat" >
                              <option value="Sexe">Etat</option>
                              <option *ngFor="let lesEtat of mesEtats"  >{{lesEtat}}</option>
                            </select>
                            <button type="submit">Changer</button>
                          </form>
                    </td>
                </tr>
                <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
            </table>

            </div>
<!-- :::::::::::: -->
            <div class="customers">
               <div class="card-header flex">
                  <h3>Formateurs</h3>
                  <button >Ajouter <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  <tr class="flex" *ngFor="let format of formateur |paginate: { itemsPerPage:4, currentPage: p}">
                        <td class="flex">
                            <img src="/assets/images/{{format.photo}}" width="30px" height="30px" alt="">
                            <div>
                               <h5>{{format.username}}</h5>
                               <small>{{format.profession}}</small>
                            </div>
                         </td>

                         <td>
                            <i class="uil uil-user-circle"></i>
                            <i class="uil uil-calender"></i>
                            <i class="uil uil-phone-alt"></i>
                         </td>
                  </tr>
                  <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
               </table>
            </div>

         </div>

         <!-- Formation Terminer et Auditeurs:::::::::::::::::::: -->
         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Formations Terminer</h3>
                  <button routerLink="/validationformateur">Ajouter <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                <tr>
                    <th>Titre</th>
                    <th>Lieu</th>
                    <th>Date Fin</th>
                    <th>Status</th>
                </tr>

                <tr *ngFor="let encours of formationterminer |paginate: { itemsPerPage:4, currentPage: p}" >
                  <td>{{encours.titre}}</td>
                  <td>{{encours.lieu}}</td>
                  <td>{{encours.datefin}}</td>
                  <td>
                      <form style="  padding-right: 20px;" (ngSubmit)="ModifierEtat(encours)">
                          <select style="width:80px;  height: 25px; margin-top: 3px; margin-bottom: 20px;" name="etat"  [(ngModel)]="encours.etat" >
                            <option value="Sexe">Etat</option>
                            <option *ngFor="let lesEtat of mesEtats"  >{{lesEtat}}</option>
                          </select>
                          <button type="submit">Changer</button>
                        </form>
                  </td>
              </tr>
                <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
            </table>
            </div>

            <div class="customers">
               <div class="card-header flex">
                  <h3>Auditeurs</h3>
                  <button>Ajouter <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  <tr class="flex" *ngFor="let format of auditeur |paginate: { itemsPerPage:10, currentPage: p}">
                        <td class="flex">
                            <img src="/assets/images/{{format.photo}}" width="30px" height="30px" alt="">
                            <div>
                               <h5>{{format.username}}</h5>
                               <small>{{format.profession}}</small>
                            </div>
                         </td>

                         <td>
                            <i class="uil uil-user-circle"></i>
                            <i class="uil uil-calender"></i>
                            <i class="uil uil-phone-alt"></i>
                         </td>
                  </tr>
                  <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
               </table>
            </div>

         </div>
      </main>
   </div>

   <script>
      let sideBar = document.getElementById('sidebar');
      let menuIcon = document.getElementById('menu-icon');
      let mainContent = document.getElementById('main-content');

      menuIcon.onclick = () => {
         sideBar.classList.toggle('toggleMenu');
         mainContent.classList.toggle('toggleContent');
      }
   </script>
</body>
</html>
